/* Organización eficiente y modular del código CSS */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(210, 181, 141, 255);
  flex-direction: column;
}

.tv_superior {
  width: 350px;
  height: 302px;
  background-color: rgba(34, 35, 35, 255);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tv_inferior {
  width: 310px;
  height: 20px;
  background-color: rgba(34, 35, 35, 255);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 5px;
  border-top: 5px solid rgba(16, 17, 16, 255);
}
